.close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: rgb(0, 0, 0);
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  /* closing button end  ***************************/
.nav_wrapper {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 justify-content: space-around;
}

.nav_wrapper > a {
    font-size: 1.2rem;
    margin-left:.5rem ;
    font-weight: bold;
}
.nav_modal {
    position: absolute;
 top: 0;
 width: 75%;
    height: 25rem;
    background-color: #E7E7E7;
}





.burger {
      width: 55px;
      height: 55px;
      border-radius: 10px;
      background: white;
      box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
      ;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      transition: all .5s ease;
      margin: 1em;
  }
  .burger:hover {
      background: rgb(56 56 56);
  }
  .burger-strip {
      transition: all .5s ease;
  }
  .strip div {
      height: 3px;
      border-radius: 2px;
      background: rgb(56 56 56);
      margin: 10px;
      transition: all .55s cubic-bezier(0.075, 0.82, 0.165, 1);
      width: 40px;
  }
  .burger:hover .strip div {
      background: white;
  }
.burger-strip-3 div {
      margin: 10px auto;
  }
  .burger:hover .burger-strip-3 div:first-child {
      transform: translateY(13px);
      width: 25px;
  }
  .burger:hover .burger-strip-3 div:nth-child(2) {
      opacity: 0;
  }
  .burger:hover .burger-strip-3 div:last-child {
      transform: translateY(-13px);
      width: 25px;
  }

  .modal {
    height: 100%;
    width: 100%;
    background-color: black;
  }