.carousel_wrap {
  margin: 1rem .8rem 1rem 0.8rem;
}

@media screen 
  and (min-device-width: 1000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
      
      .carousel_wrap {
            margin: 1rem 10rem 1rem 10rem;
      }

      .carousel-item {
        height: 20rem;
        min-width: 50%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
      }

      .carousel-image {
        height: 5rem;
        width: 5rem;
      }
}
.carousel-container {
  display: flex;

  flex-wrap: nowrap;
  overflow: hidden;
  margin: 1rem auto 1rem auto;
}

.carousel-container > h1 {
  margin: 1rem auto 1rem auto;
}

.carousel-item {
  height: 20rem;
  min-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.carousel-image {
  height: 10rem;
  width: 10rem;
}

h2 {
  color: #4e4c4c;
}

.buttonCarousel {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  position: absolute;
 
}

.buttonCarousel > button {
  background-color: white;
  width: 4rem;
  height: 3rem;
  border-radius: 80%;
  border-style:none ;
  opacity: 50%;
  cursor: pointer;
}