h1{
      color: 141414;
      margin: 0;
      font-family: 'Inter', sans-serif;
      font-weight: 700;
}
.greyText {
      color: #4b4b4b;
      font-size: 3rem;
}

.nameWrapper {
      margin: 1rem auto 1rem auto;
}

.enthusiast {
      margin: 1rem auto 1rem auto;
}

.enthusiast > h2 {
      color: #4b4b4b;
      font-family: 'Inter', sans-serif;
      font-weight: 700;
}
.img {
      border-radius: 50%;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.headerWrap {
      margin: 1rem .8rem 1rem 0.8rem;
}

 @media screen 
  and (min-device-width: 1000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
      .img {
            border-radius: 50%;
          width: 15rem;
          height: 15rem;
          object-fit: cover;
      }

      .headerWrap {
            margin: 1rem 10rem 1rem 10rem;
      }
}