.contact_wrap {
      margin: 1rem .8rem 1rem 0.8rem;
}

.contact_wrap > h1 {
      text-align: center;
}


.contactBtn {
    
            width: 85%;
            min-height: 3rem;
            margin: 1rem auto 1rem auto;
            font-size: 20px;
            border-radius: 10rem;
            border-style:none ;
            cursor: pointer;
            justify-content: center;
            transition: width 600ms ease-out, height 600ms ease-out;
      
}

.form-control input:focus {
      outline: none;
      /* border-color: #240370;
      background-color: #e0d4fd; */
    }


.invalid {
      animation: shake .3s;
}

@keyframes shake {
      25% {transform: translateX(4px);}
      50% {transform: translateX(-4px);}
      75% {transform: translateX(4px);}
}

.invalid input {
      border: 1px solid #b40e0e;
      background-color: #fddddd;
    }

   

input, textarea {
      height: 2rem;
      width: 40%;
      margin: .5rem auto;
      border-radius: 10px;
      border: #D9D9D9 1px solid;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      
}

button:disabled {
      cursor: not-allowed;
}


textarea {
      width: 50%;
      height: 10rem;
      font-size: larger;
}

textarea:focus {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input:focus {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contactForm_wrap {
      position: absolute;
 
      padding: 2rem;
      background-color: #D9D9D9;
      height: auto;
      width: 60%;
     left: 12%;
}

.contact_form {
      display: flex;
      width: 100%;
      flex-direction: column;
     
      /* width: 80%; */


}

.message_btn {
      width: 40%;
      min-height: 3rem;
      margin: 1rem auto 1rem auto;
      font-size: 1rem;
      font-weight: bolder;
      border-radius: 10rem;
      border-style:none ;
      cursor: pointer;
      justify-content: center;
      transition: width 600ms ease-out, height 600ms ease-out;
}

/* this is for the media query */

@media screen 
  and (min-device-width: 1000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

      .message_btn {
            width: 20%;
            min-height: 3rem;
            margin: 1rem auto 1rem auto;
            font-size: 1rem;
            font-weight: bolder;
            border-radius: 10rem;
            border-style:none ;
            cursor: pointer;
            justify-content: center;
            transition: width 600ms ease-out, height 600ms ease-out;
      }

      .contactForm_wrap {
            position: absolute;
       
            padding: 2rem;
            background-color: #D9D9D9;
            height: auto;
            width: 60%;
           left: 12%;
      }
      
      .contact_form {
            display: flex;
            width: 100%;
            flex-direction: column;
           
            /* width: 80%; */
      
      
      }
      
}