.contact_wrap {
      margin: 1rem .8rem 1rem 0.8rem;
}


.contactBtn {
    
            width: 85%;
            min-height: 3rem;
            margin: 1rem auto 1rem auto;
            font-size: 20px;
            border-radius: 10rem;
            border-style:none ;
            cursor: pointer;
            justify-content: center;
            transition: width 600ms ease-out, height 600ms ease-out;
      
}