
.footer {

      background-color: #F9F6F6;
    width: 100%;
   padding-bottom: 1rem;
  
   
}

.footer > p {
      margin: auto 1rem auto 1rem;
      text-align: center;
}

.sc_img {
      width: 3rem;
      height: 3rem;
      margin: 1rem 1rem;
   object-fit: contain;
}

.sc_div {
      display: flex;
      align-items: center;
      height: 50%;
      width: 85%;
      margin: auto;
      justify-content:space-around;
      margin: 0.5rem 1rem;
      
     
}

.copyright > p {
      text-align: center;
}
/* this is the media query for the computer **********************/

@media screen 
and (min-device-width: 1000px) 
and (-webkit-min-device-pixel-ratio: 1) { 
.footer {
      padding-top: 3rem;
      height: 100px;
      width: 100%;
      
}

p {
      margin: .2rem auto;
}

.copyright {
      max-width: 30%;
      height: auto;
      margin: 0 auto;
      text-align: center;
}



.footer > p {
      font-size: larger;
      text-align: center;
}

 .sc_div {
    
display: flex;
flex-direction: column;

position: absolute; 


top: 5rem;

justify-content: space-between;
width: 5%;

height: 1rem;

gap: 5rem;
left: -1%;

 }



 .sc_img {
      width: 70%;
      height: 70%;
      margin: 1rem 1rem;
      object-fit: contain;
      
 } 
}