
.footer {

      background-color: #F9F6F6;
    width: 100%;
   padding-bottom: 1rem;
   
}

.footer > p {
      margin: auto 1rem auto 1rem;
      text-align: center;
}

.sc_img {
      width: 3rem;
      height: 100%;
      margin: 1rem 1rem;
   
}

.sc_div {
      display: flex;
      align-items: center;
      height: 50%;
      width: 85%;
      margin: auto;
      justify-content:space-around;
      margin: 0.5rem 1rem;
      
     
}

@media screen 
and (min-device-width: 1000px) 
and (-webkit-min-device-pixel-ratio: 1) { 
.footer {
      padding-top: 3rem;
      height: 100px;
      width: 100%;
      
}

p {
      margin: .2rem auto;
}

.copyright {
      max-width: 30%;
      height: auto;
      margin: 0 auto;
      text-align: center;
}



.footer > p {
      font-size: larger;
      text-align: center;
}

 .sc_div {
display: flex;
flex-direction: column;
position: absolute;
justify-content: space-between;
width: 5%;
top: 5rem;
/* height: 1rem; */
bottom: 0;
gap: 5rem;
left: -1%;

 }

 .sc_img {
      width: 70%;
      height: 70%;
      margin: 1rem 1rem;
      
 } 
}