
.footer {

      background-color: #F9F6F6;
    width: 100%;
   padding-bottom: 1rem;
   
}

.footer > p {
      margin: auto 1rem auto 1rem;
      text-align: center;
}

.sc_img {
      width: 3rem;
      height: 100%;
      margin: 1rem 1rem;
}

.sc_div {
      display: flex;
      align-items: center;
      height: 50%;
      width: 85%;
      margin: auto;
      justify-content:space-around;
      margin: 0.5rem 1rem;
     
}

@media screen 
and (min-device-width: 1000px) 
and (-webkit-min-device-pixel-ratio: 1) { 
 .sc_div {
display: flex;
flex-direction: column;
position: absolute;
width: 5%;
height: 2rem;
bottom: 0;

left: 0;
/* top: 0;
left: -621px; */
 }
}