.App {
  /* margin: 1rem .8rem 1rem 0.8rem; */
  text-align: center;

}

@media screen 
  and (min-device-width: 1000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .App {
      margin:0;
      text-align: center;
  
    }
    p, h1, h2 {
      text-align: center;
      margin: 1rem auto 1rem auto;
     
    }

}



p, h1, h2 {
  text-align: left;
  margin: 1rem auto 1rem auto;
}

