.abt_wrap {
      margin: 1rem .8rem 1rem 0.8rem;
}

p {
      color: black;
      margin: 0 auto 1rem auto;
}
 
.about_me {
      font-size: 1.5rem;
      margin-bottom: 0;
}

@media screen and (min-width: 600px) {
      h1,h2,p {
            text-align: center;
      }

      .abt_wrap {
            margin: 2rem 2rem 2rem 2rem;
      }

      
      
  }